body{
	background: #F8D353;
  background: -webkit-linear-gradient(bottom right, #F8D353, #FF5C5A);
  background: -moz-linear-gradient(bottom right, #F8D353, #FF5C5A);
  background: linear-gradient(bottom right, #F8D353, #FF5C5A);
	color: #fff;
}
.main-text{
	padding-top: 100px;
}
